@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 60vw !important;
    height: 50vh;
    font-family: 'Rajdhani', sans-serif;
    /* background-color: crimson; */

}

#clear,
#addTodo {
    width: 7rem;
}